{{ define "main" }}
                {{- $lang := .Lang}}
                {{- with $.Site.Home.AllTranslations }}
                <ul>
                    {{- range . -}}
                    {{- if ne $lang .Lang }}
                    <li>
                        <a href="{{- .Permalink -}}" title="{{ .Language.Params.languageAltTitle | default (.Language.LanguageName | emojify) | default (.Lang | title) }}"
                            aria-label="{{ .Language.LanguageName | default (.Lang | title) }}">
                            {{- if (and $.Site.Params.displayFullLangName (.Language.LanguageName)) }}
                            {{- .Language.LanguageName | emojify -}}
                            {{- else }}
                            {{- .Lang | title -}}
                            {{- end -}}
                        </a>
                    </li>
                    {{- end -}}
                    {{- end}}
                </ul>
                {{- end }}

<h1>{{ .Title }}</h1>
{{ .Content }}
{{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}

{{ range $paginator.Pages.ByPublishDate.Reverse }}
  <h2 class="post-list {{ if ne .Params.show_summary false }}summary{{ end }}">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h2>
  {{ if ne .Params.show_summary false }}
    {{ .Summary }}
  {{ end }}
{{ end }}
{{ template "partials/pagination.html" . }}
{{ end }}
